{% extends "base.html" %}
{% block title %}
login
{% endblock %}
{% block content %}
<div>
<h1>Our most Valuable Partners</h1>
<p>The ISCC are organised by <u>Young 
Thinkers Academy</u> and <u>TRAACS</u> school of
Technology</p>

<p>The following Schools are participating
in the Interschools coding competition</p>
<ul>
<li>City secondary school<li>
<li>Kings College buddo</li>
<il>Mengo SS</li>
</ul>
<dl>
<dt>
Gift To the ISCC winners</dt>
<dd>The winners will take 10,000 USD
which is approximated to UGX 65 million
</dd></dl>
</div>
{% endblock %}
